@tailwind base;
@tailwind components;
@tailwind utilities;

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  background-color: #050505 !important;
  color: #ffffff !important;
  font-family: sans-serif;
}

h1, h2, h3, h4 { color: #FDB813 !important; } /* Dourado LZA */
a { text-decoration: none; color: inherit; }
